body{
	margin:0;
}

#header{
	position:sticky;
	margin:0;
}

div.titlebar{
font-family:courier;
font-weight:bold;
font-size:30;
color:green;
background-color:#2b2a3e;
padding:15;
}

/*navbar*/

div.navbar,div.nav{
	width:100%;


}

button{
	background-color:transparent;
	padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
	border:2px solid #4CAF50;
	width:175px;
	font-family: courier;
	font-weight:bold;
	color:green;
	margin:10px;
	align:center;

}

button:hover {
    background-color: #3e8e41;
		color:white;
}

button::after{
	background-color: green;
}
#about{
	display: inline;
}

#categories{
	display: inline;
	text-align: center;
}

/*text*/
#text{

   padding:0;
   height: 100%;
	 font-family: courier;
	 text-indent: 10px;
	 color:green;


}


/*footer*/

#footer{
	font-weight:bold;
	 color: green;
	 position: fixed;
	 bottom: 0;
	 height : 40px;
	 margin-top : 40px;
	 padding-top: 10px;
	 background-color: #e0e0e0;
	 width:100%;
	 height: 100px;
	 font-family: courier;
	 text-indent: 10px;
 }

div.icons{
	display:inline;
	position: absolute;
	right:10px;
	font-size: 25;
}

#home, #categories, #logout{
	cursor: hand;
}
#home:hover, #categories:hover, #logout:hover{
color: white;
}
#userid{
  visibility: hidden;
}

#login{
	font-weight: bold;
	font-size: 20px;
	margin-top: 2px;
	width: 125px;
	text-align: center;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 100px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    padding-left: 5px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid green;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
#settings, #logoutbtn{
	cursor:hand;
}

#settings:hover, #logoutbtn:hover{
	color:red;
}


#christmas{
	height:50px;
	left: 10px;
}
